.checkbox {
	position: relative;
	float:left;
	margin: 5px;
	padding: 0 7px;
	padding-right: 42px;
	border-radius: 3px;
	line-height: 30px;
	width: 40%;
}

.checkbox, .checkbox * {
	cursor: pointer;
	user-select: none;
}

.checkbox:hover {
	background: #efefef;
}

.checkbox > label{
	display: inline-block;
	height:20px;
	line-height: 20px;
}

.checkbox:before, .checkbox:after {
	transition: all .2s ease-in-out;
}

.checkbox:before {
	position: absolute;
	right: 7px;
	top: 10px;
	display: inline-block;
	content: '';
	vertical-align: middle;
	margin-top: -1px;
	margin-left: 5px;
	height: 10px;
	width: 30px;
	border-radius: 16px;
	background: lightgray;
	border: 1px solid green;
}

.checkbox.checked:before{
	content: '';
	background: green;
}

.checkbox:after{
	content: '';
	display:block;
	position: absolute;
	height: 18px;
	width:18px;
	border-radius:50%;
	background: white;
	top: 5px;
	right: 21px;
	border: 1px solid green;
}

.checkbox.checked:after{
	background:white;
	right: 5px;
}