.lf {
	background: white;
	border: 1px solid lightgray;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	padding-bottom: 20px;
	width: 300px;
	margin: 15vh auto 0 auto;
	overflow: hidden;
}


.lf-line {
	min-height: 1px;
	margin: 0 30px;
}

.lf-line.margin-top-bottom{
	margin: 20px 30px;
}

.lf-banner{
	height: 50px;
	background: #222;
	margin-bottom: 10px;
}

.lf-center {
	text-align: center;
}