.menu {
	margin: 20px;
	padding: 10px;
	position: fixed;
	top: 50px;
	left: calc(50vw - 558px);
}

.menu-item {
	display: block;
	list-style: none;
	padding: 5px 8px;
	border-radius: 4px;
	cursor: pointer;
}

.menu-item, .menu-item * {
	color: #383838;
	text-decoration: none !important;
}

.menu-item:hover{
	background: #408E23;
}

.menu-item:hover * {
	color: white;
}