.app {
  text-align: left;
}

.app-header {
  background-color: #222;
  height: 30px;
  padding: 10px;
  color: white;
}

.app-title {
  font-size: 1.4em;
  font-weight: 600;
  display: inline-block;
  line-height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.app-logo{
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-body{
  background: red;
  min-height: calc(100vh - 50px);
  top: 50px;
  width: 1000px;
  margin: 0 auto;
}