* {
  box-sizing: border-box;
}

#root{
  background: #E9EBEE;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

body{
  overflow-x: hidden;
}

.app {
  text-align: left;
}

.app-header {
  display: block;
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.app-title {
  font-size: 1.4em;
  font-weight: 600;
  display: inline-block;
  line-height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.app-logo{
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-body{
  display:block;
  min-height: calc(100vh - 50px);
  top: 50px;
  width: 1200px;
  margin: 0 auto;
}

.app-menu, .app-side, .app-content {
  float: left;
}

.app-menu, .app-side {
  width: 200px;
  min-height: 1px;
}

.app-content {
  width: 800px;
  padding: 20px;
}

.fixed {
  position: fixed;
}

.margin-top-20 {
  margin-top: 20px;
}