* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

#root{
  background: #E9EBEE;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

body{
  overflow-x: hidden;
}

.app {
  text-align: left;
}

.app-header {
  display: block;
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(18, 18, 18, 1);
}

.app-title {
  font-size: 1.4em;
  font-weight: 600;
  display: inline-block;
  line-height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.app-logo{
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-body{
  position: relative;
  display:block;
  min-height: 100vh;
  width: 1240px;
  margin: 0 auto;
}

.app-menu, .app-side, .app-content {
  float: left;
}

.app-menu, .app-side {
  width: 200px;
  min-height: 1px;
}

.app-menu, .app-content {
  margin-right: 10px;
}

.app-content {
  width: 800px;
}

.fixed {
  position: fixed;
}

.margin-top-70 {
  margin-top: 70px;
}

.display-none, * .display-none, * > .display-none {
  display: none !important;
}