.white-block {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.clearfix:after {
	display: table;
	content: '';
    clear: both;
}

.border-block {
	border: 1px solid lightgray;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 20px;
}
