.white-block {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.clearfix:after {
	display: table;
	content: '';
    clear: both;
}

.border-block {
	border: 1px solid lightgray;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 20px;
}

table {
	font-size: 14px;
	width: 100%;
}

thead > tr {
	box-shadow: 0 1px #383838;
}

tr.options-row {
	box-shadow: 0 1px #a0a0a0;
}

tbody > tr.options-row:last-child {
	box-shadow: none;
}

td, th {
	padding: 10px;
}

td.inner-table {
	padding: 0;
}

tr.options-row > td {
	padding: 20px 0;
	text-align: right;
}
